@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i');

:root {
    --light-grey: #f1f1f1;
    --neon-green: #81D742;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

q {
    font-size: 2em;
}

.container {
    padding: 20px;
    background-color: white;
    height: 100vh;
    position: relative;
}

.header-lines {
    width: 20%;
    height: 3px;
    color: var(--light-grey);
    background-color: var(--light-grey);
    border: none;

}

#logo {
    --logo-sze: 80px;
    height: var(--logo-sze);
    width: var(--logo-sze);
    transition: width 200ms ease-in-out, height 200ms ease-in-out;
}

#logo:hover {
    width: 75px;
    height: 75px;
}

#menu-icon {
    font-size: 2.5em;
    color: black;
    position: absolute;
    right: 0;
    transition: color 250ms ease-in-out;
    cursor: pointer;
}

#menu-icon:hover {
    color: var(--neon-green);
}

