#toggle-animation-canvas {
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  background: none;
  width: 100px;
  height: 40px;
  border: 1px solid #d5d7df;
  text-align: center;
  color: #000 !important;
}

#toggle-animation-canvas:hover {
  background-color: #f1f1f1;
  color: deepskyblue !important;
}

#toggle-animation-canvas:hover {
  background-color: #f1f1f1;
  color: red;
}

#basic-canvas.hide {
  display: none;
}

#animation-canvas.hide {
  display: none;
}
