@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i");
body {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 576px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

q {
  font-size: 1.3rem;
}

p, li {
  font-size: 1rem;
}

nav ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #81D742;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure img {
  margin-bottom: 10px;
}

figure figcaption {
  font-weight: 200;
  font-size: 0.8em;
  text-align: center;
}

input, textarea {
  border: none;
}

textarea {
  resize: none;
}

header[role="banner"] nav {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

@media (min-width: 768px) {
  header[role="banner"] nav {
    margin-bottom: 100px;
  }
}

#nav-links {
  position: absolute;
  right: 0;
  top: 100px;
  display: none;
  padding: 20px 5%;
  width: 20%;
  background-color: #fbfbfb;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

input, textarea {
  border-bottom: 1px solid #d5d7df;
  outline: none;
}

input:focus, textarea:focus {
  border-bottom: 2px solid #81D742;
}

input::placeholder, textarea::placeholder {
  color: #f1f1f1;
}

input[type="submit"] {
  border: none;
  border-radius: 5px;
  background-color: #81D742;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #67be28;
}

input[type="reset"] {
  border-radius: 5px;
  background: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #f1f1f1;
}

#contact-intro {
  margin-bottom: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-items: start;
  width: 140px;
  margin: 0 20px 50px 0;
}

.form-group.website {
  width: 200px;
}

.form-group.number {
  width: 50px;
}

.form-group.date {
  width: 160px;
}

.form-group.textarea {
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.container {
  padding: 40px;
  position: relative;
  min-height: calc(100vh - 70px);
}

.header-lines {
  width: 20%;
  height: 3px;
  color: #f1f1f1;
  background-color: #f1f1f1;
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  transition: width 200ms ease-in-out, height 200ms ease-in-out;
  flex-grow: 1;
}

#logo:hover {
  width: 35px;
  height: 35px;
}

#intro {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  #intro {
    margin-bottom: 100px;
  }
}

#menu-icon {
  font-size: 2em;
  color: black;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

#menu-icon:hover {
  color: #81D742;
}

#page-footer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-footer span {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #page-footer {
    flex-direction: row;
    justify-content: start;
  }
  #page-footer span {
    flex-grow: 1;
  }
  #page-footer nav {
    flex-grow: 0;
  }
}
