@import "variables";
@import "mixins";
@import "components";

input, textarea {
  border-bottom: 1px solid $darker-grey;
  outline: none;

  &:focus {
    border-bottom: 2px solid $neon-green
  }

  &::placeholder {
    color: $light-grey;
  }

}

input {

  &[type="submit"] {
    @include button('primary', null, 100px);
    cursor: pointer;
  }

  &[type="reset"] {
    @include button('secondary', 'neutral', 100px);
    cursor: pointer;

  }
}

#contact-intro {
  margin-bottom: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-items: start;
  width: 140px;
  margin: 0 20px 50px 0;

  &.website {
    width: 200px;
  }

  &.number {
    width: 50px;
  }

  &.date {
    width: 160px
  }

  &.textarea {
    width: 100%
  }
}

#contact-form {


}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
}