@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i');

@import "variables";
@import "tag_formatting";

.container {
    padding: 40px;
    position: relative;
}

.header-lines {
    width: 20%;
    height: 3px;
    color: $light-grey;
    background-color: $light-grey;
    border: none;

}

#logo {
    --logo-sze: 80px;
    height: var(--logo-sze);
    width: var(--logo-sze);
    transition: width 200ms ease-in-out, height 200ms ease-in-out;

    &:hover {
      width: 75px;
    height: 75px;
    }
}

#menu-icon {
    font-size: 2em;
    color: black;
    position: absolute;
    right: 0;
    transition: color 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: $neon-green;
    }
}

#main-nav {
    margin-bottom: 100px;
}

#page-footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 21%;
}