@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i');

@import "mixins";
@import "variables";
@import "tag_formatting";
@import "navbar";
@import "form-styles";

.container {
  padding: 40px;
  position: relative;
}

.header-lines {
  width: 20%;
  height: 3px;
  color: $light-grey;
  background-color: $light-grey;
  border: none;

}

#logo {
  $logo-size: 40px;
  height: $logo-size;
  width: $logo-size;
  transition: width 200ms ease-in-out, height 200ms ease-in-out;
  flex-grow: 1;

  &:hover {
    $logo-hover-size: 35px;
    width: $logo-hover-size;
    height: $logo-hover-size;
  }
}


#intro {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(md){
      margin-bottom: 100px;
    }
}

#menu-icon {
  font-size: 2em;
  color: black;
  transition: color 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: $neon-green;
  }
}

#page-footer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 21%;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 10px;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: start;

    span {
      flex-grow: 1;
    }

    nav {
      flex-grow: 0;
    }
  }
}